<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="textEditor" class="com.tutorialspoint.TextEditor">
        <constructor-arg ref="spellCheckerSP" />
    </bean>

    <bean id="spellChecker" class="com.tutorialspoint.SpellChecker">
    </bean>
    <bean id="spellCheckerEN" class="com.tutorialspoint.SpellCheckerEN">
    </bean>
    <bean id="spellCheckerSP" class="com.tutorialspoint.SpellCheckerSP">
    </bean>

    <bean id="foo" class="com.tutorialspoint.Foo">
        <constructor-arg ref="bar"/>
        <constructor-arg ref="baz"/>
    </bean>

    <bean id="fooYearName" class="com.tutorialspoint.Foo">
        <constructor-arg type="int" value="2017"/>
        <constructor-arg type="java.lang.String" value="Ventura"/>
    </bean>

    <bean id="fooIndex0Index1" class="com.tutorialspoint.Foo">
        <constructor-arg index="0" value="2001"/>
        <constructor-arg index="1" value="PorIndex"/>
    </bean>

    <bean id="bar" class="com.tutorialspoint.Bar"/>
    <bean id="baz" class="com.tutorialspoint.Baz"/>
</beans>