<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="javaCollection" class="com.tutorialspoint.JavaCollection" >
        <!-- como si fuera una llamada a setAddressList(java.util.List)   -->
        <property name="addressList">
            <list>
                <ref bean="address1"/>
                <ref bean="address1"/>
                <ref bean="address2" />
                <value>Mexico</value>
                <value>Venezuela</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <!-- como si fuera una llamada a setAddressSet(java.util.Set) -->
        <property name="addressSet">
            <set>
                <ref bean="address1" />
                <ref bean="address1" />
                <ref bean="address2" />
                <value>Mexico</value>
                <value>Venezuela</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- como si fuera una llamada a setAddressMap(java.util.Map) -->
        <property name="addressMap">
            <map>
                <entry key="1" value="Mexico"/>
                <entry key="2" value="Venezuela"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
                <entry key="5" value-ref="address1" />
                <entry key="6" value-ref="address2" />
            </map>
        </property>

        <!-- como si fuera una llamada a setAddressProp(java.util.Properties) -->
        <property name="addressProp">
            <props>
                <prop key="uno">Mexico</prop>
                <prop key="dos">Venezuela</prop>
                <prop key="tres">USA</prop>
                <prop key="cuatro">USA</prop>
            </props>
        </property>
    </bean>

    <bean id="address1" class="com.tutorialspoint.Address">
        <property name="calle" value="Reforma 222"/>
        <property name="codigoPostal" value="034332"/>
    </bean>

    <bean id="address2" class="com.tutorialspoint.Address">
        <property name="calle" value="Sonora 176" />
        <property name="codigoPostal" value="043221" />
    </bean>

</beans>